body{
  font-family: 'Abel', sans-serif;
  background-color: grey;
}

.btn{
  border-radius: 42px;
  padding: 11px 20px 10px 20px;
  margin: 10px;
}

.btn:hover{
  opacity: 0.6;
}

.field{
  border-radius: 42px;
  padding: 11px 20px 10px 20px;
  background-color: #d9d9d9;
  font-weight: bolder;
}

.screen{
  border-radius: 25px;
  min-width: 300px;
  width: 30%;
  border: 4px solid grey;
  box-sizing: : border-box;
  padding: 4px;
  background-color: #d6d6c2;
}

.controls{
  border-radius: 15px;
  min-width: 350px;
  width: 30%;
  border: 4px solid black;
  box-sizing: border-box;
  padding: 10px;
  background: linear-gradient(#4d4d4d, #262626);
}

.weather{
  border-radius: 15px;
  min-width: 350px;
  width: 30%;
  border: 4px solid black;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  background: linear-gradient(#4d4d4d, #262626);
}

.weather-screen{
  border-radius: 25px;
  min-width: 300px;
  width: 30%;
  border: 4px solid grey;
  box-sizing: border-box;
  padding: 10px;
  background-color: #d6d6c2;
}

.low{
  color: green;
}

.medium{
  color: #FF9900;
}

.high{
  color: red;
}
